<div class="adrop">
  <button
    #triggerBtn
    class="icon-btn"
    type="button"
    [attr.aria-label]="triggerAria"
    (click)="toggle($event)">
    <span class="dots">⋯</span>
  </button>

  @if (open) {
    <div
      #menuBox
      class="menu fixed"
      role="menu">
      @for (a of actions; track a.id) {
        <button
          type="button"
          class="menu-item"
          role="menuitem"
          [disabled]="a.disabled"
          (click)="choose(a.id, $event)">
          @if (a.icon) { <span class="mi">{{ a.icon }}</span> }
          <span>{{ a.label }}</span>
        </button>
      }
    </div>
  }
</div>
